.description {
  padding-top: 40px;
  padding-bottom: 80px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-bottom: -41px;

  @media screen and (max-width: 1024px) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  &__wrapp {
    gap: 20px;
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 22.4px;
      gap: 21px;
    }

    h1,
    h2,
    h3,
    h4 {
      margin-bottom: -6px;
      letter-spacing: -2px;
    }

    &.background {
      padding: 34px 24px;
      border-radius: 8px;
      line-height: 31px;
    }
  }

  &__file,
  &__button {
    margin-top: 28px;

    a {
      line-height: 16px;
      padding: 16px 22px;
    }

    svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 5px;
    }
  }
}
