.table {
  padding-top: 15px;
  padding-bottom: 10px;
  background: $white;

  @media screen and (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 6px;
  }

  &__wrapp {
    @media screen and (max-width: 768px) {
      overflow-x: scroll;
      scrollbar-width: none;
      width: 100%;
      padding-left: 3%;
    }
  }
}

#price-list {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  font-size: 14px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }

  td,
  th {
    text-align: left;

    @media screen and (max-width: 768px) {
      min-width: auto;
      white-space: nowrap;
    }
  }

  tbody {
    tr {
      background-color: #fff;
      border: 1px solid #e5e5e5;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #f1f3f7;
      }

      td {
        padding: 16px 24px;
        border: 1px solid #e5e5e5;
        text-align: left;
        line-height: 30px;

        @media screen and (max-width: 1024px) {
          padding: 7px 12px;
          font-size: 12px;
        }
      }
    }
  }

  thead {
    background-color: transparent;

    th {
      padding: 16px 24px;
      text-align: left;
      color: $otc-blue;
      border: 1px solid #e5e5e5;
      font-weight: 600;
      line-height: 30px;
      font-size: 16px;

      @media screen and (max-width: 1024px) {
        padding: 8px 12px;
        font-size: 14px;
      }
    }
  }
}
