.testimonials-block {
  padding-top: 40px;
  padding-bottom: 80px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-bottom: -40px;

  @media screen and (max-width: 1024px) {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  &__wrapp {
    align-items: center;
  }

  &__title {
    margin-bottom: 28px;
    text-align: center;
    line-height: 62.4px;

    @media screen and (max-width: 768px) {
      line-height: 38.4px;
    }
  }

  &__text {
    background: $white;
    border-radius: 8px;
    border-bottom: 5px solid $yellow;
    max-width: 588px;
    padding: 40px 40px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 271px;
    justify-content: center;

    @media screen and (max-width: 768px) {
      padding: 40px 24px;
    }

    @media screen and (max-width: 576px) {
      padding: 24px;
      min-height: fit-content;
    }

    strong {
      font-weight: 600;
    }
  }
}
