.text {
  background: $white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -1px;
  margin-bottom: -1px;

  &__content {
    max-width: 985px;

    h1,
    h2,
    h3,
    h4 {
      margin-top: 40px;
      margin-bottom: 12px;

      @media screen and (max-width: 1024px) {
        margin-bottom: 12px;
      }

      @media (max-width: 768px) {
        margin-top: 33px;
        margin-bottom: 8px;
      }
    }

    h5,
    h6 {
      margin-bottom: 24px;

      @media screen and (max-width: 1024px) {
        margin-bottom: 18px;
      }

      @media (max-width: 768px) {
        margin-bottom: 14px;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    ul {
      list-style-type: disc;
      display: flex;
      flex-direction: column;
      padding-inline-start: 25px;

      &:not(:last-child) {
        margin-bottom: 13px;
      }

      li {
        list-style-type: disc;
      }

      @media (max-width: 768px) {
        padding-inline-start: 23px;
      }
    }

    a {
      color: $otc-blue;
      transition: 0.3s ease all;
      width: fit-content;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.5px;
        background-color: $otc-blue;
        transition: width 0.3s ease;
      }

      &:hover,
      &:focus,
      &.active {
        &::before {
          width: 100%;
        }
      }
    }

    img {
      border-radius: 0;
    }
  }
}
