.page-template-doc-template {
  background: $otc-blue;

  .document {
    &__heading {
      padding-top: 108px;
      margin-bottom: 40px;

      @media screen and (max-width: 768px) {
        padding-top: 85px;
      }
    }

    &__breadcrumbs {
      margin-bottom: 80px;

      @media screen and (max-width: 768px) {
        margin-bottom: 42px;
      }
    }

    &__title {
      color: $white;
      padding-bottom: 24px;
      border-bottom: 2px solid $yellow;

      @media screen and (max-width: 768px) {
        font-size: 28px;
        line-height: 33.6px;
        padding-bottom: 14px;
      }
    }
  }
}
