button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  white-space: nowrap;
  line-height: 40px;
  width: fit-content;

  &-primary {
    a {
      background: $yellow;
      padding: 7px 49px;
      border-radius: 8px;
      border: 1px solid $yellow;
      transition: 0.3s ease-in-out all;

      @media screen and (max-width: 768px) {
        padding: 3px 34px;
      }
    }
  }

  &-secondary {
    position: relative;
    width: fit-content;
    flex-shrink: 0;

    a {
      background: $otc-blue;
      padding: 7px 32px 7px 49px;
      height: 56px;
      color: $white;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      transition: 0.3s ease-in-out all;

      @media screen and (max-width: 768px) {
        padding: 7px 25px 7px 37px;
      }
    }

    svg {
      margin-left: -1px;

      path {
        transition: 0.3s ease-in-out all;
      }
    }
  }

  &-primary:hover {
    a {
      background: $hover-yellow;
      border: 1px solid $hover-yellow;
    }
  }

  &-secondary:hover {
    a {
      background: $etd-blue;
    }

    svg {
      path {
        fill: $etd-blue;
      }
    }
  }

  &.pressed {
    color: darkgray;
    background: $white;
  }

  &.disabled {
    color: gray;
    background: lightgray;
    border: 2px solid lightgray;
  }
}
