.search-results,
.search-no-results {
  background: $otc-blue;

  .search {
    &__page {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__heading {
      padding-top: 108px;
      margin-bottom: 40px;
      color: $white;
    }

    &__breadcrumbs {
      margin-bottom: 40px;

      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }

    &__form {
      margin-top: 30px;
    }

    &__main {
      padding-top: 40px;
      padding-bottom: 80px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      margin-bottom: -40px;
      background: $light-gray-2;
      flex-grow: 1;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 80px 20px;

      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        gap: 60px 15px;
      }

      @media screen and (max-width: 651px) {
        grid-template-columns: 1fr;
        gap: 28px;
      }
    }

    &__no-found {
      display: flex;
      flex-direction: column;
    }
  }

  .no-results {
    &__title {
      margin-bottom: 25px;
    }

    &__content {
      gap: 25px;
    }
  }
}
