//global styles
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Light.eot');
  src: local('☺'), url('../../fonts/Poppins-Light.woff') format('woff'), url('../../fonts/Poppins-Light.woff2') format('woff2'), url('../../fonts/Poppins-Light.ttf') format('truetype'), url('../../fonts/Poppins-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Regular.eot');
  src: local('☺'), url('../../fonts/Poppins-Regular.woff') format('woff'), url('../../fonts/Poppins-Regular.woff2') format('woff2'), url('../../fonts/Poppins-Regular.ttf') format('truetype'), url('../../fonts/Poppins-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Medium.eot');
  src: local('☺'), url('../../fonts/Poppins-Medium.woff') format('woff'), url('../../fonts/Poppins-Medium.woff2') format('woff2'), url('../../fonts/Poppins-Medium.ttf') format('truetype'), url('../../fonts/Poppins-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-SemiBold.eot');
  src: local('☺'), url('../../fonts/Poppins-SemiBold.woff') format('woff'), url('../../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../../fonts/Poppins-SemiBold.ttf') format('truetype'), url('../../fonts/Poppins-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Bold.eot');
  src: local('☺'), url('../../fonts/Poppins-Bold.woff') format('woff'), url('../../fonts/Poppins-Bold.woff2') format('woff2'), url('../../fonts/Poppins-Bold.ttf') format('truetype'), url('../../fonts/Poppins-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

main {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  color: $white;

  a,
  .opacity {
    color: rgba(255, 255, 255, 0.6);
  }

  &-separator {
    margin: 0 6px;
    color: rgba(255, 255, 255, 0.6);

    &:last-child {
      color: $white;
    }
  }

  @media (max-width: 768px) {
    font-size: 10px;
    line-height: 15px;
  }
}

.socials {
  margin-bottom: 10px;

  &-list {
    li {
      width: 42px;
      height: 42px;
      padding: 0;
      border-radius: 50%;

      img {
        transition: 0.3s ease all;
      }

      a {
        width: 100%;
        height: 100%;
      }

      &:not(:last-child) {
        margin-right: 12px;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    @media screen and (max-width: 768px) {
      li {
        width: 56px;
        height: 56px;

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  }
}

#backtop {
  position: fixed;
  width: 52px;
  height: 52px;
  bottom: 4.9375rem;
  right: calc((100% - 1320px) / 2);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  background: $white;
  border-radius: 50%;

  @media screen and (min-width: 769px) and (max-width: 1350px) {
    right: 2%;
  }

  @media (max-width: 768px) {
    width: 32px;
    height: 32px;
    right: 20px;
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;

    path {
      transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;
    }

    @media (max-width: 768px) {
      width: 15px;
      height: 15px;
    }
  }

  &:hover {
    svg path {
      fill: $otc-blue;
    }
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.highlighted-text {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
