.single.single-solutions {
  padding-top: 0;

  .single-solutions {
    background: $otc-blue;

    &__breadcrumbs {
      margin: 0 auto 15px;

      @media screen and (max-width: 651px) {
        margin: 0 auto 40px;
      }
    }
  }
}
